.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.post-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.neu-up {
  margin-top: 40px;
  padding: 21px 32px;
  border-radius: 10px;
  box-shadow: -6px -6px 10px 0 hsla(0, 0%, 100%, 0.81),
    6px 6px 10px 0 rgba(170, 158, 158, 0.26);
}

.post-content-wrapper {
  display: block;
  max-width: 800px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.style-guide-label {
  margin-bottom: 20px;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #777;
  color: #777;
  font-size: 13px;
  line-height: 14px;
}

.tab-link {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: transparent;
  color: #aaa;
}

.tab-link:hover {
  color: #222;
}

.tab-link.w--current {
  background-color: transparent;
  box-shadow: inset 0 -1px 0 0 #333;
  color: #222;
}

.error-message {
  border-radius: 4px;
  background-color: rgba(236, 56, 114, 0.1);
  color: #ec3872;
  text-align: center;
}

.card-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.card-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 20px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #f3f3f5;
}

.style-guide-label-link {
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  font-weight: 500;
  text-decoration: none;
}

.style-guide-label-link:hover {
  text-decoration: underline;
}

.style-guide-divider {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #f3f3f5;
}

.heading-11 {
  font-weight: 500;
}

.tab-menu {
  width: 30%;
  padding-right: 29px;
  padding-left: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 -1px 0 0 #ccc;
}

.button {
  border-style: solid;
  border-width: 1px;
  border-color: #a16230;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #a16230;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background-color: #d5f1b4;
  color: #a16230;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #ccc;
}

.type-column-2 {
  padding-top: 30px;
  padding-left: 20px;
}

.card-paragraph {
  margin-bottom: 0px;
}

.style-guide-subhead {
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 4px;
  background-color: rgba(236, 56, 114, 0.1);
  color: #ec3872;
}

.style-guide-label-2 {
  margin-top: 10px;
  margin-bottom: 40px;
  color: #aaa;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.style-guide-label-2.cc-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.style-guide-wrap {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #f3f3f5;
}

.grid-2 {
  width: 100%;
  padding-top: 32px;
  grid-column-gap: 28px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.grid-2.grid-3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.success-message {
  border-radius: 4px;
  background-color: rgba(32, 206, 123, 0.1);
  color: #20ce7b;
}

.block-quote {
  padding-left: 21px;
  border-top-style: none;
  border-left-style: solid;
  border-left-color: #22417a;
  color: #375997;
  font-weight: 900;
}

.tabs-content {
  width: 75%;
}

.card-2 {
  margin: 15px;
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  text-decoration: none;
}

.card-2:hover {
  margin: 12px;
  padding: 43px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.style-guide-section {
  position: relative;
  margin: 20px;
  padding: 60px 30px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.style-guide-logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-image: url("../images/transparent_1transparent.gif");
  background-position: 0px 0px;
  background-size: 16px;
}

.style-guide-logo-box.cc-dark {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url("../images/transparent_1transparent.gif");
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/transparent_1transparent.gif");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 16px;
}

.style-guide-logo-box.cc-light {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 100%, 0.5)),
      to(hsla(0, 0%, 100%, 0.5))
    ),
    url("../images/transparent_1transparent.gif");
  background-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0.5),
      hsla(0, 0%, 100%, 0.5)
    ),
    url("../images/transparent_1transparent.gif");
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 16px;
}

.card-title-2 {
  margin-top: 0px;
}

.heading-13 {
  font-weight: 400;
}

.style-guide-title {
  display: inline-block;
  margin-top: 0px;
  padding-top: 5px;
  padding-left: 18px;
  color: #222;
  font-size: 22px;
  line-height: 44px;
  font-weight: 500;
  text-transform: uppercase;
}

.tab-pane {
  padding: 30px 40px 40px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.type-column-1 {
  padding-right: 20px;
}

.input {
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  line-height: 44px;
}

.input:hover {
  border-color: #636363;
}

.input:focus {
  border-color: #3898ec;
}

.input.cc-long {
  height: auto;
  min-height: 150px;
  line-height: 24px;
}

.color-block {
  height: 70px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #ebebeb;
}

.color-block.cc-brand-color-3 {
  background-color: #63ecc0;
}

.color-block.cc-dark-grey-2 {
  background-color: #333;
}

.color-block.cc-brand-color-2 {
  background-color: #ca8e5e;
}

.color-block.cc-brand-color-1 {
  background-color: #003e6e;
}

.color-block.cc-brand-color-4 {
  background-color: #ffb08b;
}

.color-block.cc-light-grey-2 {
  background-color: #ccc;
}

.color-block.cc-dark-grey-1 {
  background-color: #636363;
}

.color-block.cc-font-color-light {
  background-color: #aaa;
}

.color-block.cc-light-grey-1 {
  background-color: #f3f3f5;
}

.color-block.cc-font-color-dark {
  background-color: #071b2d;
}

.style-guide-content {
  padding-top: 40px;
}

.content-wrapper {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 4%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #c9ff9f;
}

.max-width-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-child {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.grid-4 {
  grid-column-gap: 28px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-2 {
  margin-bottom: 23px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: -6px -6px 10px 0 #fff, 6px 1px 5px 0 rgba(104, 110, 119, 0.25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #a16230;
  font-size: 16px;
  font-weight: 500;
}

.button-2:hover {
  box-shadow: 1px 1px 2px 0 #ccc, inset -3px -3px 3px 0 #fff,
    inset 3px 3px 6px 0 rgba(146, 152, 160, 0.25);
  color: #a16230;
}

.button-2:active {
  box-shadow: inset -3px -3px 3px 0 #fff,
    inset 6px 6px 10px 0 rgba(146, 152, 160, 0.25);
}

.card-title {
  width: 100%;
  margin-bottom: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.featured-image {
  position: relative;
  overflow: hidden;
}

.card-description {
  min-height: 100px;
  color: #000;
}

.card-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: -6px -6px 10px 0 #fff, 6px 6px 10px 0 rgba(158, 164, 172, 0.25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.card:hover {
  background-color: hsla(0, 0%, 100%, 0.58);
  box-shadow: -6px -6px 16px 0 hsla(0, 0%, 100%, 0.62),
    6px 6px 16px 0 rgba(158, 164, 172, 0.25);
}

.admin {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  display: none;
  width: 90%;
  height: 100%;
  margin-left: 29px;
  padding-top: 53px;
  padding-right: 42px;
  padding-left: 42px;
  background-color: #ddf8ff;
  box-shadow: -1px 0 8px 4px rgba(0, 0, 0, 0.14);
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transform: translate(100%, 0px);
}

.menu {
  position: absolute;
  left: auto;
  top: 50px;
  right: 0%;
  bottom: auto;
  z-index: 9999;
  width: 60px;
  height: 50px;
}

.lottie-animation {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.admin-content {
  overflow: auto;
  height: 100%;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  padding-right: 65px;
  padding-left: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fefff1;
}

.logo {
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image {
  height: 100%;
}

.nav:hover {
  border-bottom: 5px solid #000;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a16230;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.absolute_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.controls {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 50px;
  padding: 8px 15px 8px 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #bbb;
}

.mainwave {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.miniwave {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.editor_section {
  overflow: hidden;
  width: 100%;
  background-color: #e2e2e2;
}

.mainview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.app {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 101%;
  padding-right: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.foot {
  background-color: #fefff1;
}

.silde {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clip_bin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 0%;
  height: 100%;
  padding-top: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.body {
  overflow: auto;
  background-color: #f1f1f1;
}

.mainview_buttons {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bin_image {
  position: relative;
  width: 48%;
  margin: 1%;
  padding-top: 30%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.clipper_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.dojo_grid {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: minmax(0px, 3fr) minmax(0px, 2.75fr) minmax(0px, 0.25fr);
  grid-template-rows: minmax(0px, 3fr) minmax(0px, 2.75fr) minmax(0px, 0.25fr);
}

.tunnel {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tunnel.wave {
  height: 27.5%;
}

.tunnel.clip {
  overflow: scroll;
  height: 57.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lottie-animation-3 {
  height: 100%;
}

.play-button {
  width: 45px;
  height: 100%;
}

.progress_container {
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
  background-color: #fefff1;
}

.progress_bar {
  width: 30%;
  height: 4px;
  background-color: #a16230;
}

.wysy {
  overflow: hidden;
  height: 96%;
}

.frame {
  width: 100%;
  height: auto;
  padding-top: 56%;
}

.slide-constraint {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #cecece;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.upload_form_field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.field-label {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 400;
}

.submit-button {
  height: 30px;
  padding-top: 4px;
  background-color: #a16230;
}

.text-field {
  height: 30px;
}

.error-message-2 {
  height: 100%;
  margin-top: 0px;
  padding-top: 24px;
  padding-bottom: 5px;
  text-align: center;
}

.success-message-2 {
  background-color: #d2ffbf;
}

.clipper_btns {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e4e4e4;
}

.remove_btn {
  width: 24px;
  height: 100%;
}

.lottie-animation-4 {
  height: 100%;
}

.clipper_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clipper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clip_track {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 24px;
}

.clipper_track_progress {
  position: absolute;
  left: 25%;
  right: 25%;
  height: 100%;
  opacity: 0.8;
}

.clipper_track_progress.clip_color_1 {
  z-index: 0;
}

.clipper_thumb {
  position: absolute;
  width: 34px;
  height: 34px;
}

.clipper_thumb.left {
  left: 25%;
}

.clipper_thumb.right {
  right: 25%;
}

.timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 30px;
  margin-top: -30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.clipper_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  list-style-type: none;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  font-size: 16px;
}

.dojo_title {
  font-size: 18px;
}

.dojo_content {
  display: none;
}

.track_bg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  opacity: 0.29;
}

@media screen and (max-width: 991px) {
  .button {
    box-shadow: -6px -6px 10px 0 #fff, 3px 3px 5px 0 rgba(104, 110, 119, 0.25);
  }

  .grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-2.grid-3 {
    grid-column-gap: 28px;
    grid-row-gap: 29px;
  }

  .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .grid-4 {
    grid-column-gap: 45px;
    grid-row-gap: 55px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .button-2 {
    box-shadow: -6px -6px 10px 0 #fff, 3px 3px 5px 0 rgba(104, 110, 119, 0.25);
  }

  .card-description {
    min-height: 100px;
  }

  .card {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .card-wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .grid-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-2.grid-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content-wrapper {
    overflow: hidden;
  }

  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .row-child {
    margin-bottom: 15px;
  }

  .grid-4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .admin {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu {
    height: auto;
  }

  .navbar {
    display: none;
  }

  .app {
    height: 170%;
  }

  .silde {
    width: 60%;
  }

  .mainview_buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .bin_image {
    width: 98%;
  }

  .dojo_grid {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .post-content {
    padding-right: 19px;
    padding-left: 19px;
  }

  .neu-up {
    padding-right: 18px;
    padding-left: 18px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-2.grid-3 {
    height: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content-wrapper {
    padding-right: 18px;
    padding-left: 18px;
  }

  .row-child {
    margin-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .card-description {
    font-size: 15px;
  }

  .card-content-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .app {
    height: 101%;
  }

  .silde {
    width: 100%;
  }
}
